attr==0.3.2
fastapi==0.115.12
mock==5.1.0
mongomock==4.3.0
pydantic==2.7.0
pymongo==4.6.2
pytest==8.3.5
python-dotenv==1.0.1
fastapi_websocket_rpc==0.1.29
uvicorn
pytest-asyncio
fastapi-websocket-rpc
requests
httpx
asynctest
mailjet-rest
fastapi[standard]